---
import BaseLayout from './base.astro'
import { getEntry } from 'astro:content'
import { getImage } from 'astro:assets'
import { SEO } from 'astro-seo'

import Header from '~/components/header'
import Footer from '~/components/footer'

import '@fontsource-variable/red-hat-display'
import '@fontsource-variable/inter'
import '~/styles/global.scss'

export interface Props {
  title?: string
  description?: string
  isPrivate?: boolean
}

const site = await getEntry('site', 'site')
const logo = await getImage({ src: site.data.logo, width: 350, height: 70 })

const { title, description, isPrivate } = Astro.props
---

<BaseLayout>
  <!-- Head -->
  <Fragment slot="head">
    <SEO
      title={title
        ? `${title} | ${site.data.title}`
        : `${site.data.title} | ${site.data.slogan}`}
      description={description || site.data.description}
      noindex={isPrivate}
      nofollow={isPrivate}
    />
    <link rel="preload" as="image" href={logo.src} />
    <slot name="head" />
  </Fragment>

  <!-- Body -->
  <Fragment>
    <Header logo={logo} />
    <main class="flex-1 px-8 min-h-[90dvh]">
      <slot />
    </main>
    <Footer />
  </Fragment>
</BaseLayout>
